<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main class="row">
	<div class="row">
		<div class="row">
			<div class="col-main">
				<div class="block-newarrial col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="slider-inner">
						<p class="block-title">
							<span class="title" >Giỏ Hàng</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="panel panel-warning" th:fragment="shopping_cart" style="padding-left: 30px">
		<div class="panel-heading">GIỎ HÀNG</div>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Tên sản phẩm</th>
					<th>Giá</th>
					<th>Số lượng</th>
					<th>Thành tiền</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in cart.items">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>${{item.price | number:2}}</td>
					<td><input ng-change="cart.saveToLocalStorage()" ng-model="item.qty" type="number" min="1"></td>
					<td>${{item.qty*item.price | number:2}}</td>
					<td>
						<button ng-click="cart.remove(item.id)" class="btn btn-sm btn-danger">
							<i class="glyphicon glyphicon-trash"></i> 
						</button>
					</td>
				</tr>
				<tr>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> Tổng tiền phải trả : </td>
					<td><fmt:formatNumber>${{cart.amount | number:2}}</fmt:formatNumber> </td>
				</tr>
			</tbody>
		</table>	
		<div class="panel-footer">
			<button ng-click="cart.clear()" class="btn btn-danger">
				<i class="glyphicon glyphicon-trash"></i> Xóa sạch
			</button>
			<a th:href="@{/order/checkout}" class="btn btn-warning"> <i
				class="glyphicon glyphicon-hand-right"></i> Thanh toán
			</a>
		</div>
	</div>
	</main>
</body>
</html>